*{
	margin: 0;
	padding: 0;
}

.counter{
	width: 200px;
	height: 250px;
	position: absolute;
	top: 50px;
	left: 50%;
	margin-left:-100px;
}
input{
	display: inline-block;
	border: 1px solid black;
	float: left;
	width: 48px;
	height: 48px;
	border-radius: 50%;
}
.number{
	background: yellow;
}
.zero{
	width: 144px;
}

.operator{
	background: red;
}
